html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Century, sans-serif;
}

header {
    background: #fff url(images/header.png) no-repeat 50% 0;
    padding: 30px 0 10px;
}

h2 {
    font-family: Arial, sans-serif;
}

i {
    display: inline-block;
}

section {
    font-size: 26px;
    line-height: 35px;
    color: #00465f;
    background: #ebedec url(images/background.png) repeat 50% 0;
    border-top: 1px solid #e2e2e2;
    padding: 40px 0;
}

section p {
    padding: 1em 0;
}

label {
    width: 30%;
    display: inline-block;
}

label span {
    color: #7c8487;
    line-height: 38px;
}

label span,
label object {
    display: block;
    margin: 0 auto;
}

label object {
    margin-top: 18px;
}

input {
    font-family: monospace;
    width: 5em;
    border-style: solid;
    border-width: 4px 4px 6px 0;
    border-color: #dedede;
    border-bottom-color: #ccc;
    background-color: #f7f7f7;
    width: 170px;
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
}

.ribbon {
    color: #fff;
}

.ribbon.large {
    background: transparent url(images/ribbon.png) no-repeat 50% 0;
    line-height: 76px;
}

.ribbon.small {
    margin-top: 0;
    background: transparent url(images/ribbon-small.png) no-repeat 50% 0;
    line-height: 57px;
    font-size: 26px;
}

.arrow {
    background-image: url(images/arrow.png);
    width: 80px;
    height: 37px;

    position: relative;
    top: 140px;
}

.arrow-small {
    background-image: url(images/arrow-small.png);
    width: 51px;
    height: 23px;

    margin: 0 1em;
}

.suggestions table {
    text-align: left;
    margin: 0 auto;
    table-layout: fixed;
    line-height: 50px;
}

.suggestions .format {
    color: #ae465f;
    padding-right: 80px;
}

.suggestions .result {
    padding-left: 80px;
}

footer {
    border-top: 1px solid #e2e2e2;
    background-repeat: no-repeat;
    background-image: url("images/footer.png");
    background-position: 50% 0;
    height: 168px;
    color: #5d5d5d;
    font-family: Arial, Verdana, sans-serif;
}

footer p {
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer p:first-child,
footer p:last-child {
    margin-top: 2em;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
